{% extends 'base.html' %}

{% block content %}
<div style="font-size:200%; color:#aaa" align="center">
    &nbsp;&nbsp;&nbsp;
    <table width="80%" border="2">
        <tr>
            <td><a href="/word/topics/">Topics</a></td>
        </tr>
        <tr>
            <td><a href="/word/userCollected/1">我的收藏</a></td>
        </tr>

        <tr>
            <td><a href="/word/units">单词表</a></td>
        </tr>

        <tr>
            <td><a href="/article/list">文章列表</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/article/add">去添加一篇>></a></td>
        </tr>
    </table>
</div>
{% endblock %}

